@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.Recommended-page {
  background-color: #1f1f1f;
  height: 155vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding: 40px;
}

.title {
  font-size: 40px;
  color: #ffffff; 
  margin-top: 78px;
  margin-bottom: 20px; 
}

.genre {
  font-size: 30px;
  color: #ffffff; 
  align-self: flex-start;
  margin-left: 70px;
  margin-bottom: 20px; 
}

.slider {
  width: 80%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 33.33%; 
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.rank {
    font-size: 32px;
    color: #fff;
    position: absolute;
    top: -5px; 
    left: 40px;
    background-color: #1f1f1f;
    padding: 15px 36px;
    border-radius: 20px;
  }


.slide img {
  width: 80%; 
  height: auto; 
  border-radius: 10px;
}

.movie-info {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.movie-info h3 {
  font-size: 20px;
  margin: 5px 0;
}

.movie-info p {
  margin: 3px 0;
}

.arrow {
  cursor: pointer;
  height: 120px;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
}

.arrow.prev {
  left: 15px; 
}

.arrow.next {
  right: -40px;
}

.arrow-top,
.arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -7px;
  position: absolute;
  top: 0%;
  width: 50%;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(0%) translateY(-50%) scale(0.85);
}

.arrow.prev .arrow-top {
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }
  
.arrow.prev .arrow-top:after {
    background-color: #fff;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow.prev .arrow-bottom {
    transform: rotate(45deg);
    transform-origin: top left;
}

.description {
  font-size: 23px;
  color: #646464;
  margin: 20px 15%;
  text-align: center;
  position: relative;
  top: 10px; 
}

.divider {
  border: 0;
  height: 15px;
  background: #666;
  background-image: linear-gradient(to right, #1f1f1f, #666, #1f1f1f);
  margin: 40px 0;
}

.other-genres {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px; 
}

.button-group {
  display: flex;
  margin-top: 20px; 
}

.button-group-2 {
  display: flex;
  margin-top: 40px; 
}

.button-icon-1 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-2 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-3 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-4 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-5 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-6 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-7 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-8 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-9 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.button-icon-10 {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: relative;
  margin-right: 40px; 
}

.icon-1, .icon-2, .icon-3, .icon-4, .icon-10, .icon-5, .icon-6, .icon-7, .icon-8, .icon-9 {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
  font-size: 21.2px;
}


.cube-1, .cube-2, .cube-3, .cube-10, .cube-4, .cube-5, .cube-6, .cube-7, .cube-8, .cube-9 {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon-1:hover {
  border-color: #720a0a;
}

.button-icon-2:hover {
  border-color: #045a04;
}

.button-icon-3:hover {
  border-color: #b1b400;
}

.button-icon-4:hover {
  border-color: #324ab4;
}

.button-icon-5:hover {
  border-color: #271c1c;
}

.button-icon-6:hover {
  border-color: #f15f5f;
}

.button-icon-7:hover {
  border-color: #f39b18;
}

.button-icon-8:hover {
  border-color: #f85eeb;
}

.button-icon-9:hover {
  border-color: #1df5c6;
}

.button-icon-10:hover {
  border-color: #941df5;
}

.button-icon-1:hover .cube-1, .button-icon-2:hover .cube-2, .button-icon-3:hover .cube-3, .button-icon-4:hover .cube-4, .button-icon-10:hover .cube-10 {
  transform: rotateX(90deg);
}

.button-icon-5:hover .cube-5, .button-icon-6:hover .cube-6, .button-icon-7:hover .cube-7, .button-icon-8:hover .cube-8, .button-icon-9:hover .cube-9{
transform: rotateX(90deg);
}

.side-1, .side-2, .side-3, .side-4, .side-5, .side-10, .side-6, .side-7, .side-8, .side-9 {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top-1 {
  background: #720a0a;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-2 {
  background: #045a04;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-3 {
  background: #b1b400;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-4 {
  background: #324ab4;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-5 {
  background: #271c1c;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-6 {
  background: #f15f5f;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-7 {
  background: #f39b18;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-8 {
  background: #f85eeb;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-9 {
  background: #1df5c6;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.top-10 {
  background: #941df5;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front-1, .front-2, .front-3, .front-4, .front-5, .front-6, .front-7, .front-10,.front-8, .front-9 {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}
